@model System.Collections.Generic.IEnumerable<WebApp.Models.Speaker>

<div class="h3">Speakers</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>TenantId</th>
            </tr>
        </thead>
        @foreach (var speaker in Model)
        {
            <tr>
                <td>@speaker.First</td>
                <td>@speaker.Last</td>
                <td>@speaker.TenantId</td>
            </tr>
        }
    </table>
</div>