@model WebApp.Models.TokenViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Username: &nbsp;  @Model.UserName<br />
        TenantName: @Model.TenantName<br /><br />
    </div>

    <hr /><br /><br /><br />
    Plain Token: @Model.PlainToken<br /><br />

</body>
</html>