@model WebApp.Models.TokenViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body>
    <form method="post">
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("tokenValue", "")
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Go" />
                </div>
            </div>
        </div>
    </form>

    <button class="button" onclick="getToken()">
        Get Token
    </button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getToken() {
            var value = localStorage.getItem('jwtTokenValue');
            $('#tokenValue').val(value);
        };
    </script>
</body>

</html>

